Repository jrepp/ipe: changes, and which Codecov flags are due for each by the changed paths.
All: core, parser, interpreter, engine

codecov.yml:

# Codecov configuration for IPE

coverage:
  status:
    project:
      default:
        target: 90%  # Overall coverage target
        threshold: 2%  # Allow 2% drop
        if_ci_failed: error

    patch:
      default:
        target: 85%  # New code coverage target
        if_ci_failed: error

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**/*"
  - "benches/**/*"
  - "examples/**/*"
  - "**/*test.rs"
  - "**/*tests.rs"

# Flag specific coverage requirements
flags:
  core:
    paths:
      - crates/ipe-core/src/
    target: 95%  # Core engine needs highest coverage

  parser:
    paths:
      - crates/ipe-core/src/parser/
    target: 92%

  interpreter:
    paths:
      - crates/ipe-core/src/interpreter/
    target: 100%  # Critical path - must have 100% coverage

  engine:
    paths:
      - crates/ipe-core/src/engine/
    target: 100%  # Critical path - must have 100% coverage

Add project documentation and MVP plan
  IMPLEMENTATION_SUMMARY.md
  MVP_PLAN.md
  Makefile
  QUICKSTART.md
  ROADMAP.md
  TDD_PROGRESS.md
Due: none

Add workspace crate stubs
  crates/ipe-control/Cargo.toml
  crates/ipe-control/src/lib.rs
  crates/ipe-ffi/Cargo.toml
  crates/ipe-ffi/src/lib.rs
  crates/ipe-parser/Cargo.toml
  crates/ipe-parser/README.md
  crates/ipe-parser/src/lib.rs
  crates/ipe-wasm/Cargo.toml
  crates/ipe-wasm/src/lib.rs
  crates/ipe-web/Cargo.toml
  crates/ipe-web/src/lib.rs
Due: none

Implement lexer and parser (98% coverage)
  crates/ipe-core/src/parser/lexer.rs
  crates/ipe-core/src/parser/mod.rs
  crates/ipe-core/src/parser/parse.rs
  crates/ipe-core/src/parser/token.rs
Due: core, parser

Implement AST with types and visitor (93% coverage)
  crates/ipe-core/src/ast/mod.rs
  crates/ipe-core/src/ast/nodes.rs
  crates/ipe-core/src/ast/types.rs
  crates/ipe-core/src/ast/visitor.rs
Due: core

Implement bytecode compiler (96% coverage)
  crates/ipe-core/src/compiler.rs
Due: core

Update core lib structure and dependencies
  crates/ipe-core/Cargo.toml
  crates/ipe-core/src/lib.rs
  crates/ipe-core/src/tiering.rs
Due: core

Add benchmarks and load testing
  crates/ipe-core/benches/evaluation.rs
  examples/load_test.rs
  examples/stress_test.rs
Due: none

Add /tdd slash command for repeatable workflow
  .claude/commands/tdd.md
Due: none

Remove old monolithic ast.rs
  crates/ipe-core/src/ast.rs
Due: core

Update gitignore for dev temp files
  .gitignore
Due: none

Refactor Phase 1: Improve code quality and reduce duplication
  .claude/commands/tdd-simple.md
  .claude/commands/test.md
  REFACTORING_ANALYSIS.md
  REFACTORING_SUMMARY.md
  TDD_PROGRESS.md
  crates/ipe-core/src/bytecode.rs
  crates/ipe-core/src/engine.rs
  crates/ipe-core/src/index.rs
  crates/ipe-core/src/interpreter.rs
  crates/ipe-core/src/lib.rs
  crates/ipe-core/src/rar.rs
  crates/ipe-core/src/testing.rs
Due: core

Phase 8: Runtime performance optimizations + PolicyDataStore design
  Cargo.toml
  README.md
  TDD_PROGRESS.md
  crates/ipe-core/Cargo.toml
  crates/ipe-core/src/bytecode.rs
  crates/ipe-core/src/interpreter.rs
  crates/ipe-core/src/lib.rs
  crates/ipe-core/src/parser/parse.rs
  crates/ipe-core/src/parser/token.rs
  crates/ipe-core/src/store.rs
  crates/ipe-core/src/tiering.rs
Due: core, parser

Fix compilation errors and warnings
  crates/ipe-core/benches/evaluation.rs
  crates/ipe-core/src/ast/mod.rs
  crates/ipe-core/src/ast/nodes.rs
  crates/ipe-core/src/ast/types.rs
  crates/ipe-core/src/ast/visitor.rs
  crates/ipe-core/src/bytecode.rs
  crates/ipe-core/src/compiler.rs
  crates/ipe-core/src/engine.rs
  crates/ipe-core/src/index.rs
  crates/ipe-core/src/interpreter.rs
  crates/ipe-core/src/jit.rs
  crates/ipe-core/src/lib.rs
  crates/ipe-core/src/parser/lexer.rs
  crates/ipe-core/src/parser/mod.rs
  crates/ipe-core/src/parser/parse.rs
  crates/ipe-core/src/parser/token.rs
  crates/ipe-core/src/rar.rs
  crates/ipe-core/src/store.rs
  crates/ipe-core/src/testing.rs
  crates/ipe-core/src/tiering.rs
Due: core, parser

Update CI to pass with current warnings
  .github/workflows/ci.yml
Due: none

Phase 9: PolicyDataStore with comprehensive TDD tests
  README.md
  TDD_PROGRESS.md
  crates/ipe-core/src/store.rs
Due: core

Add badges, architecture diagram, and warnings fixlist
  README.md
  WARNINGS_FIXLIST.md
Due: none

Fix all CI compilation issues
  crates/ipe-control/src/lib.rs
  crates/ipe-core/Cargo.toml
  crates/ipe-core/src/compiler.rs
  crates/ipe-core/src/index.rs
  crates/ipe-core/src/interpreter.rs
  crates/ipe-core/src/jit.rs
  crates/ipe-core/src/tiering.rs
  crates/ipe-ffi/src/lib.rs
  crates/ipe-parser/src/lib.rs
  crates/ipe-wasm/src/lib.rs
  crates/ipe-web/src/lib.rs
Due: core

Fix CI: Install cargo-hack for minimal versions check
  .github/workflows/ci.yml
Due: none

Add comprehensive documentation with Mermaid diagrams
  README.md
  docs/ARCHITECTURE.md
  docs/AST.md
  docs/BYTECODE.md
Due: none

Fix benchmark compilation errors and clippy warnings
  crates/ipe-core/benches/evaluation.rs
  crates/ipe-core/src/ast/nodes.rs
  crates/ipe-core/src/ast/types.rs
  crates/ipe-core/src/compiler.rs
  crates/ipe-core/src/parser/lexer.rs
  crates/ipe-core/src/parser/token.rs
Due: core, parser

Fix code formatting
  crates/ipe-core/benches/evaluation.rs
  crates/ipe-core/src/store.rs
Due: core

Fix minimal versions check by constraining ahash
  crates/ipe-core/Cargo.toml
Due: none

Bump ahash minimum version to 0.8.8
  crates/ipe-core/Cargo.toml
Due: none

Fix minimal versions: Add regex-syntax constraint
  Cargo.toml
Due: none

Upgrade logos to 0.14 to fix minimal versions
  Cargo.toml
Due: none
