Repository jrepp/ipe: changes, and which Codecov flags are due for each by the changed paths.
All: core, parser, interpreter, engine

Use Mermaid diagrams for privilege boundaries visualization
  rfcs/PRIVILEGE-BOUNDARIES.md
Due: none

Introduce three-plane architecture with privilege boundaries
  rfcs/001-predicate-service-architecture.md
  rfcs/001-sidecar-service-architecture.md
  rfcs/004-control-plane.md
  rfcs/005-data-plane.md
  rfcs/INDEX.md
  rfcs/PRIVILEGE-BOUNDARIES.md
  testing/README.md
Due: none

Fix memory leak in JIT compilation and add intelligent leak sanitizer validation
  .github/scripts/README.md
  .github/scripts/check-leak-sanitizer.sh
  .github/workflows/security.yml
  crates/ipe-core/Cargo.toml
  crates/ipe-core/src/jit.rs
  crates/ipe-core/src/tiering.rs
  lsan-suppressions.txt
Due: core

Skip doctests in sanitizer runs to avoid ABI mismatch
  .github/scripts/check-leak-sanitizer.sh
  .github/workflows/security.yml
Due: none

Add intelligent validators for all CI suppressed checks
  .github/scripts/README.md
  .github/scripts/check-cargo-audit.sh
  .github/scripts/check-cargo-geiger.sh
  .github/scripts/check-minimal-versions.sh
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Fix cargo fmt formatting in jit.rs
  crates/ipe-core/src/jit.rs
Due: core

Add comprehensive predicate execution perftest suite with interactive D3.js visualization
  .cargo/config.toml
  PERFTEST_QUICKSTART.md
  crates/ipe-core/Cargo.toml
  crates/ipe-core/PERFTEST.md
  crates/ipe-core/README_PERFTEST.md
  crates/ipe-core/perftest-visualization.html
  crates/ipe-core/src/bin/perftest_runner.rs
  crates/ipe-core/tests/perftest_predicate_execution.rs
  justfile
Due: core

Add outlier detection and 100MB logarithmic distribution perftest
  crates/ipe-core/src/bin/perftest_runner.rs
  crates/ipe-core/tests/perftest_predicate_execution.rs
  justfile
Due: core

Fix unused import warnings in tests
  crates/ipe-core/src/index.rs
  crates/ipe-core/src/interpreter.rs
Due: core

Add GitHub Pages documentation site with interactive visualizations
  crates/ipe-core/src/bin/perftest_runner.rs
  docs/.nojekyll
  docs/README.md
  docs/index.html
  docs/performance.html
Due: core

Add interactive real-time predicate evaluation demo to GitHub Pages
  docs/index.html
Due: none

Add Criterion benchmark export and D3 timeline visualization
  crates/ipe-core/benchmark-latest.json
  crates/ipe-core/src/bin/bench_export.rs
  docs/benchmark-history.json
  docs/benchmark-latest.json
  docs/benchmarks.html
  docs/index.html
  justfile
Due: core

Enhance performance dashboards with improved UX and visualizations
  docs/benchmark-history.json
  docs/benchmark-latest.json
  docs/benchmarks.html
  docs/index.html
  docs/performance.html
  docs/perftest-results.json
Due: none

Fix cargo fmt formatting in predicate execution tests
  crates/ipe-core/src/bin/bench_export.rs
  crates/ipe-core/src/bin/perftest_runner.rs
  crates/ipe-core/tests/perftest_predicate_execution.rs
Due: core

Add continue-on-error for known failing CI checks
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Add intelligent validators for all CI suppressed checks
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Refactor: improve code quality and consistency
  crates/ipe-core/src/ast/nodes.rs
  crates/ipe-core/src/compiler.rs
  crates/ipe-core/src/index.rs
  crates/ipe-core/src/jit.rs
  crates/ipe-core/src/parser/parse.rs
  crates/ipe-core/src/rar.rs
  crates/ipe-core/src/testing.rs
  crates/ipe-parser/src/lib.rs
Due: core, parser

Add continuous benchmark runner for time-series tracking
  crates/ipe-core/src/bin/bench_continuous.rs
Due: core

Enhance documentation and build infrastructure
  docs/README.md
  justfile
Due: none

Add permanent documentation for Docker setup and testing
  docs/DOCKER.md
  docs/TESTING_SUMMARY.md
  docs/TEST_RESULTS.md
Due: none

Add Docker infrastructure for documentation site
  docs/.dockerignore
  docs/Dockerfile
  docs/docker-compose.yml
  docs/nginx.conf
Due: none

Add Playwright testing infrastructure
  docs/package-lock.json
  docs/package.json
  docs/playwright.config.js
  docs/test-pages.js
  docs/tests/pages.spec.js
  docs/tests/performance-validation.spec.js
Due: none

Fix Playwright test failures with selector strictness and assertions
  docs/tests/pages.spec.js
  docs/tests/performance-validation.spec.js
Due: none

Rename from Intent Policy Engine to Idempotent Predicate Engine
  MVP_PLAN.md
  Makefile
  README.md
  RFC.md
  ROADMAP.md
  SUMMARY.md
  crates/ipe-core/src/parser/mod.rs
  crates/ipe-parser/README.md
  crates/ipe-parser/src/lib.rs
  docs/INDEX.md
  examples/jit_demo.rs
  rfcs/INDEX.md
Due: core, parser

Update README badges to reference main branch instead of master
  README.md
Due: none

Mark optional CI checks as non-blocking to fix false negatives
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  CI_ISSUES.md
Due: none

Fix CI false negatives with validation wrapper scripts
  .github/scripts/check-coverage.sh
  .github/scripts/check-minimal-versions.sh
  .github/scripts/check-sanitizer.sh
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  deny.toml
Due: none

Fix all CI false negatives across security, coverage, and benchmark checks
  .github/scripts/check-coverage.sh
  .github/scripts/check-sanitizer.sh
  .github/workflows/bench.yml
  .github/workflows/security.yml
  crates/ipe-core/src/jit.rs
  crates/ipe-core/src/tiering.rs
  deny.toml
Due: core

Fix remaining CI false negatives
  .github/scripts/check-sanitizer.sh
  .github/workflows/bench.yml
  .github/workflows/security.yml
  deny.toml
Due: none

Fix final CI failures with wrapper scripts (no continue-on-error)
  .github/scripts/check-supply-chain.sh
  .github/workflows/security.yml
  deny.toml
Due: none

Fix check-supply-chain.sh workspace member parsing
  .github/scripts/check-supply-chain.sh
Due: none

Path conditions:
  core: any of: crates/ipe-core/src/, but not: tests/**/*, benches/**/*, examples/**/*, **/*test.rs, **/*tests.rs
  parser: any of: crates/ipe-core/src/parser/, but not: tests/**/*, benches/**/*, examples/**/*, **/*test.rs, **/*tests.rs
  interpreter: any of: crates/ipe-core/src/interpreter/, but not: tests/**/*, benches/**/*, examples/**/*, **/*test.rs, **/*tests.rs
  engine: any of: crates/ipe-core/src/engine/, but not: tests/**/*, benches/**/*, examples/**/*, **/*test.rs, **/*tests.rs
